body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FEE32A;

}

#background{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(img/background2.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sardine{
    width: 450px;
    height: auto;
}

#parent{
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachment: scroll;
    background-size: cover;
}

#columns{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 88px;
    height: 230vh; /*adjust if too long/short */
    margin-right: 216px;
    margin-left: 216px;
}

.newsprint{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;

}

.newsprint:nth-child(1){
    background-image: url("img/newsprint-column1.png");
}

.newsprint:nth-child(2){
    background-image: url("img/newsprint-column2.png");
}

.newsprint:nth-child(3){
    background-image: url("img/newsprint-column3.png");
}

.newsprint:nth-child(4){
    background-image: url("img/newsprint-column4.png");
}

.grid{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;

}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 267px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 20px;
    /*border: 2px solid white; only if border is wanted*/
    margin-top: 30px;

}

.text{
    margin-top: 35px;
    margin-bottom: 100px; /*change if the gap between the sections is desired*/
    background-color: #FFF27D;
    opacity: 0.8;
    border-radius: 20px;
    line-height: 1.3;

}

.text::after{
    padding: 10px;
}

.picture:nth-child(1){
    background-image: url("img/hyunjin.jpg");

}

.picture:nth-child(3){
    background-image: url("img/changbin-hyunjin.jpg");
}

.picture:nth-child(5){
    background-image: url("img/bangchan.jpg");
}